<div class="home-container">
  <h1 class="welcome-text">התחדשנו בפורטל חדש !</h1>
  <div class="cards-container">
    <a routerLink="/personal-details">
      <div class="card">
        <p>עדכון פרטים אישיים</p>
        <img src="../../../assets/images/personal-details.png" alt="Personal Details">
      </div>
    </a>
    <a routerLink="/phone-book">
      <div class="card">
        <p>ספר טלפונים</p>
        <img src="../../../assets/images/phone-book.jpg" alt="Phone Book">
      </div>
    </a>
    <a routerLink="/favorites">
      <div class="card">
        <p>מועדפים</p>
        <img src="../../../assets/images/my-favorites.jpg" alt="Favorites">
      </div>
    </a>
  </div>
</div>
